/* Ensure the image path is correct */
.App {
  text-align: center;
  background-image: url('../images/399bd40f-4b8a-4983-ba2e-20c6730c814f.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* Added z-index and position */
  position: relative;
  z-index: 1;
}

/* Ensure this doesn’t override the parent background */
.App-header {
  background-color: transparent; /* Change from #282c34 to transparent */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Additional adjustments to ensure visibility */
.heading1 {
  color: #180f0f;
  padding: 20px;
  font-family: 'PokemonSolid', sans-serif;
  font-size: 24px;
  z-index: 2; /* Ensure it is above other elements */
  position: relative;
}
